[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=locate - Search for local files
Name[bg]=locate - Търсене на локални файлове
Name[cs]=locate - hledat místní soubory
Name[de]=locate – Nach lokalen Dateien suchen
Name[en_GB]=locate - Search for local files
Name[es]=locate: búsqueda de archivos locales
Name[et]=locate - kohalike failide otsing
Name[hu]=Elhelyezés - Helyi fájlokra keresés
Name[ml]=ലോകേറ്റ് - പ്രാദേശിക ഫയലുകള്‍ക്കായി തിരയുക
Name[nds]=locate - Lokaal Dateien söken
Name[nl]=locate - Zoeken naar lokale bestanden
Name[pl]=locate - Znajdź pliki lokalne
Name[pt]=locate - Procurar nos ficheiros locais
Name[pt_BR]=locate - Pesquisa por arquivos locais
Name[ro]=locate - Căutare pentru fișiere locale
Name[sv]=locate - sök efter lokala filer
Name[th]=locate - ค้นหาแฟ้มในเครื่อง
Name[tr]=locate - Yerel dosyaları ara
Name[ug]=locate- يەرلىك ھۆججەتلەرنى ئىزدەيدىغان بۇيرۇق
Name[uk]=locate — пошук локальних файлів
Name[x-test]=xxlocate - Search for local filesxx
ServiceTypes=SearchProvider
Keys=locate
Query=locate:\\{@}
Query[bg]=locate:\\{@}
Query[cs]=locate:\\{@}
Query[de]=locate:\\{@}
Query[en_GB]=locate:\\{@}
Query[es]=locate:\\{@}
Query[et]=locate:\\{@}
Query[ga]=locate:\\{@}
Query[hu]=elhelyezés:/ \\{@}
Query[ml]=locate:/ \\{@}
Query[nds]=locate:\\{@}
Query[nl]=locate:\\{@}
Query[pl]=locate:\\{@}
Query[pt]=locate:\\{@}
Query[pt_BR]=locate:\\{@}
Query[ro]=locate:\\{@}
Query[sv]=locate:\\{@}
Query[th]=locate:\\{@}
Query[tr]=locate:\\{@}
Query[ug]=locate:\\{@}
Query[uk]=locate:\\{@}
Query[x-test]=xxlocate:\\{@}xx
Charset=utf8
